<a href="https://colab.research.google.com/github/GabrielPelosi/data-analysis/blob/main/pandas_ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/6faa8b659e98fe76d59431b14ce8cfd5315066e8/aula4.1/movies.csv"

filmes = pd.read_csv(uri) # dataFrame

filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [6]:
uriNotas = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/6faa8b659e98fe76d59431b14ce8cfd5315066e8/aula4.1/ratings.csv"

notas = pd.read_csv(uriNotas) #dataFrame
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
notas["rating"] # series
notas["rating"].head() # assim como nos df, posso buscar os 5 primeiros das series

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

In [11]:
notas["rating"].unique() # busco os unicos na series
#ao analisar esses dados, podemos concluir que esse site tem avaliações com "meios" valores.

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [14]:
notas["rating"].min() # minima nota, r: 0.5
notas["rating"].mean() # média, r: 3.5015
notas["rating"].max() # nota maxima, r: 5.0

5.0

In [17]:
filmes.describe() # metodo descrbe descreve um dataFrame com valores estatísticos

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [20]:
notas.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [21]:
notas["rating"].describe() # pode fazer o describe de uma series, assim busca-se os valores da coluna desejada

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64